@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-primary: "DM Serif Display", serif;
  --font-secondary: "Jost", sans-serif;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1200px;

  --color-primary: #292f36;
  --color-primary-hover: #343e4a;
  --color-secondary: #4d5053;
  --color-accent: #cda274;
  --color-accent-hover: #b88c5d;
  --color-accent-secondary: #f4f0ec;

  --background-image-hero: url("/assets/hero/bg.jpg");
  --background-image-grid: url("/assets/grid.png");
}

body {
  @apply font-secondary text-secondary bg-gray-100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-primary text-primary;
}

.container {
  @apply px-4 w-full max-w-300 mx-auto;
}

.active {
  @apply text-accent;
}

.h1 {
  @apply text-6xl lg:text-[84px] leading-none;
}

.h2 {
  @apply text-[50px] leading-tight;
}

.h3 {
  @apply text-[25px];
}

.btn {
  @apply h-18.75 px-8 flex items-center gap-2 text-white rounded-[18px] transition-colors duration-300;
}

.btn-primary {
  @apply bg-primary hover:bg-primary-hover;
}

.btn-accent {
  @apply bg-accent hover:bg-accent-hover;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  @apply bg-accent rounded-full size-2;
}
